@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    font-family: "Crimson Text", serif;
}

body {
    background-color: #DEF7E5 !important;
}

header {
    border-bottom: 3px solid #113728 ;
    color: #333;
}

.artwork {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 700px;
}

.img-day {
    width: 100%;
    text-align: center;
}
.img-day img {
    max-width: 100%; 
    height: auto;
}

.description {
    background-color: #113728;
    color: white;
    font-size: 17px;
    margin-bottom: 12px;
    padding: 16px;
    width: 100%;
}

#art-date {
    background-color: #E8D1F2;
    color: #113728;
    padding: 6px 10px;
    margin: 12px 14%;
    font-weight: 600;
    margin-top: 20px;
}

#art-artist {
    margin: 10px 0;
}

.img-base {
    width: 300px;
    margin-bottom: 18px;
}

.link {
    color: #113728;
}